/**
 * @file SASS mixins.
 */

/**
 * Make images scale to container.
 *
 * @param {string} [display] How to display the image.
 * @param {string} [auto] Do you want to scale by width or height.
 */
@mixin img-responsive($display: inline-block, $auto: width) {
  display: $display;

  @if $auto == width {
    max-height: inherit;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  @elseif $auto == height {
    max-width: inherit;
    height: auto;
    max-height: 100%;
    width: auto;
  }
}

/**
 * Markup-free clearing.
 */
@mixin clearfix {
  position: relative;
  *zoom: 1;
  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}

/**
 * Setting styles on placeholders.
 */
@mixin placeholder {
  &:-webkit-input-placeholder  { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
  &:input-placeholder          { @content; }
}

/**
 * Container of columns.
 */
@mixin container($inner: false) {
  max-width: $drzy-columns * $drzy-column-width;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;

  @if $inner == false {
    padding-left: g();
    padding-right: g();
  }
}

/**
 * Column sizing.
 */
@mixin span($columns) {
  width: span($columns);
  float: left;
  padding-left: g();
  padding-right: g();
}

/**
 * Inline block column sizing.
 */
@mixin span-inline($columns, $align: middle) {
  width: span($columns);
  padding-left: g();
  padding-right: g();
  display: inline-block;
  vertical-align: $align;
}

/**
 * Full Column sizing.
 */
@mixin full {
  @include span($drzy-columns);
  float: none;
}

/**
 * Reset a column.
 */
@mixin reset {
  width: auto;
  float: none;
  padding-left: 0;
  padding-right: 0;
}

@mixin alpha {
  padding-left: 0;
}

@mixin omega {
  padding-right: 0;
}

/**
 * Breakpoint mixin.
 */
@mixin breakpoint($min: false, $max: false) {
  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else if $min {
    @media (min-width: $min) {
      @content;
    }
  }

  @else if $max {
    @media (max-width: $max) {
      @content;
    }
  }

  @else {
    @warn "No breakpoints given";
  }
}

/**
 * Inline lists.
 */
@mixin inline-list() {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }
}

/**
 * Gutter sizing.
 */
@function g($units: 1) {
  @return $drzy-gutter / 2 * $units;
}

/**
 * Column width.
 */
@function span($columns) {
  @return unquote($columns / $drzy-columns * 100 + "%");
}
