/**
 * @file Variables.
 */

/**
 * Fonts.
 */

// Families.
$font-family-sans   : Verdana, Tahoma, Georgia, sans-serif !default;
$font-family-serif  : serif !default;
$font-family-mono   : Consolas, Monaco, 'Andale Mono', monospace !default;
$font-family-base   : $font-family-sans !default;
$font-family-heading: $font-family-base !default;

// Sizes.
$font-size-xxs : 1.0rem !default;
$font-size-xs  : 1.2rem !default;
$font-size-sm  : 1.4rem !default;
$font-size-md  : 1.6rem !default;
$font-size-lg  : 2.0rem !default;
$font-size-xl  : 2.4rem !default;
$font-size-xxl : 2.8rem !default;
$font-size-xxxl: 3.2rem !default;

// Weights.
$font-weight-normal: 400 !default;
$font-weight-bold  : 700 !default;

// Heading.
$h1-font-size: $font-size-xxxl !default;
$h2-font-size: $font-size-xxl  !default;
$h3-font-size: $font-size-xl   !default;
$h4-font-size: $font-size-lg   !default;
$h5-font-size: $font-size-md   !default;
$h6-font-size: $font-size-md   !default;

/**
 * Colors, à la http://clrs.cc.
 */

 // Cool.
$aqua : #7fdbff !default;
$blue : #0074d9 !default;
$navy : #001f3f !default;
$teal : #39cccc !default;
$green: #2ecc40 !default;
$olive: #3d9970 !default;
$lime : #01ff70 !default;

// Warm.
$yellow : #ffdc00 !default;
$orange : #ff851b !default;
$red    : #ff4136 !default;
$fuchsia: #f012be !default;
$purple : #b10dc9 !default;
$maroon : #85144b !default;

// Gray Scale.
$white : #ffffff !default;
$silver: #dddddd !default;
$gray  : #aaaaaa !default;
$black : #111111 !default;

// Elements.
$background: $silver !default;
$link      : $red    !default;
$color     : $black  !default;
$hover     : $black  !default;

/**
 * Grid settings.
 */

// Use a 12-column grid with even padding on each side of a column.
$drzy-columns:      12   !default;
$drzy-column-width: 8rem !default;
$drzy-gutter:       2rem !default;

// One sidebar, width is $total-columns - $one-sidebar-content.
$one-sidebar-content: 8                                    !default;
$one-sidebar-sidebar: $drzy-columns - $one-sidebar-content !default;

// Two sidebars.  This must add up to your number of columns.
$two-sidebars-content: 6 !default;
$two-sidebars-first  : 3 !default;
$two-sidebars-second : 3 !default;

/**
 * Breakpoints.
 */

// Some breakpoints to get you started.
$laforge: 441px  !default;
$data   : 566px  !default;
$riker  : 767px  !default;
$picard : 1024px !default;

/**
 * Add you other re-usable variables here.
 */

// Default transition duration.
$transition-duration: 0.2s !default;
