/**
 * @file HTML element styles.
 */

 @import "base";

// Border box FTW.
* { box-sizing: border-box; }


 // Set up base font sizes for rem.
html {

  // 16 * .5625 = 9px.
  font-size: 56.25%;
  line-height: 1.5;

  // Always show scrollbar.
  overflow-y: scroll;
}

@include breakpoint($riker) {
  html {

    // 16 * .625 = 10px.
    font-size: 62.5%;
  }
}

// Body.
body {
  background: $background;
  color: $color;
  font-size: $font-size-md;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-normal;
  min-width: 380px;
}

// Links.
a {
  color: $link;
  text-decoration: none;
  transition: color $transition-duration;

  &:hover, &.active:hover {
    color: $hover;
    text-decoration: none;
  }

  &.active {
    color: $hover;
  }

  &:hover img {
    opacity: 0.8;
  }
}

// Images.
img {
  @include img-responsive(inline-block);
  vertical-align: middle;
  transition: opacity $transition-duration;
}

// Tables.
table {
  width: 100%;
}

thead {
  text-align: left;
}

th {
  background: $gray;
  color: $white;

  a {
    color: $white;
  }
}

.html th a {
  color: $white;

  &:hover {
    color: $orange;
  }
}

td, th {
  padding: g(.5) g();
  border: 1px solid $white;
}

tr {
  background: $silver;

  &:nth-child(odd) {
    background: lighten($silver, 5%);
  }

  &.drag {
    background: lighten($yellow, 30%);
  }

  &.drag-previous {
    background: lighten($yellow, 40%);
  }
}

// Tabledrag column.
.field-multiple-drag,
.tabledrag-hide {
  width: g(2.5);
}

// Tabledrag handle.
a.tabledrag-handle .handle {
  width: 22px;
  height: 22px;
  padding: 0;
  z-index: 12;
  position: relative;
}

// Disable sticky header.
table.sticky-header {
  display: none !important;
}

.insert-button {
  float: right;
}

span.tabledrag-changed {
  display: none;
}

// Friggin dots.
:focus, a:focus,
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 0;
}

// Firefox.
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0 !important;
}

// Clearfix.
.clearfix {
  @extend %clearfix;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

// Horizontal Rows.
hr {
  border: none;
  border-top: 1px solid $purple;
  margin: g(2) 0;
  display: block;
}

// Paragraphs.
p {
  margin: g() 0;

  &:first-child {
    margin-top : 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul, ol {
  margin: 0 0 0 g(2);
  padding: 0 0 0 g(2);
}

/**
 * Fieldsets.
 */
fieldset {
  position: relative;
  padding: g(2) 0;
  margin: g() 0;
  border: 1px solid $silver;
  border-radius: 0;
  background: $white;
}

// Legend.
.fieldset-legend {
  position: absolute;
  margin-top: g();
  padding-left: g();
  line-height: 1;
  font-weight: $font-weight-bold;

  // Legend collapsible link.
  a:before {
    content: "▼";
    font-size: $font-size-xs;
    line-height: 2;
    padding-right: g(.5);
  }
}

// Fieldset content wrapper.
.fieldset-wrapper {
  padding: 0 g(2);
  margin-top: g(2);
}

// Collapsed fieldsets.
html.js fieldset.collapsed {
  border-width: 1px;

  .fieldset-legend a:before {
    content: "▶";
  }

  .fieldset-wrapper {
    padding-bottom: g(2);
  }
}

// Nested fieldset.
fieldset fieldset {
  background-color: #fff;
  margin: g() 0;
}

// Double nested fieldset.
fieldset fieldset fieldset {
  background-color: $silver;
}

/**
 * Labels.
 */
label {
  display: block;
  font-weight: $font-weight-bold;
}

.form-type-checkbox label {
  display: inline-block;
  font-weight: $font-weight-normal;
}

/**
 * Filter formats.
 */
.filter-wrapper {
  border-top: 0;
  margin: g(-1) 0 0;
  padding: g(2) 0;
}

ul.tips {
  margin: 0;
}

/**
 * Forms.
 */
.form-text {
  line-height: 1;
}

.form-text, textarea {
  max-width: 100%;
  padding: g(0.5);
  border: 1px solid $silver;

  &.error {
    border-color: $red;
  }

  @include placeholder {
    color: $silver;
  }
}

.form-item {
  margin: g() 0;
}

.field-add-more-submit {
  margin-top: g();
}

form .description {
  font-size: $font-size-sm;
  clear: both;
}

/**
 * Image widget.
 */
.image-preview {
  @include span(2);
  padding: 0;
}

.image-widget-data {
  @include span(9);
  padding: 0;
}
