/**
 * @file Grid styles.
 */

@import "base";

/**
 * Put the top level elements into a container.
 */
.container {
  @extend %container;
}

.main-content, .sidebar {
  @include full;
}

/**
 * When the viewport is bigger, show the sidebars on the side.
 */
@include breakpoint($riker) {
  /**
   * The layout when there is only one sidebar.
   */
  .one-sidebar {
    .main-content {
      @include span($one-sidebar-content);
    }

    .sidebar {
      @include span($one-sidebar-sidebar);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    .main-content {
      @include span($two-sidebars-content);
    }

    .region-sidebar-first {
      @include span($two-sidebars-first);
    }

    .region-sidebar-second {
      @include span($two-sidebars-second);
    }
  }
}
