/**
 * @file System message styles.
 */

@import "base";

/**
 * Messages.
 */
.messages-wrap {
  @include container;
  margin-top: g(2);
}

.messages {
  position: relative;
  margin: 0 g() g(2);
  padding: g();
  border: 1px solid;

  &.status {
    border-color: $green;
    background-color: lighten($green, 20%);
    color: darken($green, 40%);
  }

  &.warning {
    border-color: $yellow;
    background-color: lighten($yellow, 20%);
    color: darken($yellow, 40%);
  }

  &.error {
    border-color: $red;
    background-color: lighten($red, 20%);
    color: darken($red, 40%);
  }

  &:before {
    position: absolute;
    top: 50%;
    left: g();
    margin-top: -($font-size-xl / 2);
    font-size: $font-size-xl;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;

    li {
      list-style-image: none;
    }
  }
}
