/**
 * @file Other styles.
 */

@import "base";

/**
 * Admin menu style overrides.
 */
#admin-menu {
  box-shadow: none;
  position: relative;

  .dropdown .admin-menu-tab {
    background-position: left top;

    border-right: 1px solid $black;

    .active {
      text-decoration: underline;
    }
  }
}

/**
 * Classes for styling content.
 */
.pull-left {
  float: left;
  margin-right: g(2);
  margin-bottom: g(2);
}

.pull-right {
  float: right;
  margin-left: g(2);
  margin-bottom: g(2);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/**
 * Buttons.
 */
.btn, .form-submit, .action-links a {
  color: $white;
  font-weight: $font-weight-normal;
  background: $link;
  vertical-align: middle;
  padding: g() g(2);
  line-height: 1;
  border-radius: 0;
  transition: background $transition-duration, color $transition-duration;
  box-shadow: none;
  border: none;
  display: inline-block;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-heading;
  position: relative;

  &:hover {
    color: $link;
    background: $hover;
  }

  &:hover:after {
    border-left-color: $hover;
  }
}

@include breakpoint($laforge) {
  .arrow-right {
    &:after {
      content: "";
      position: absolute;
      right: g(-1.8);
      height: 0;
      width: 0;
      top: 0;
      border-top: g(1.8) solid transparent;
      border-bottom: g(1.8) solid transparent;
      border-left: g(1.8) solid $link;
      transition: border $transition-duration;
    }
  }
}

.btn-big {
  padding: g(1.5) g(2);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

@include breakpoint($laforge) {
  .arrow-right.btn-big {
    &:after {
      right: g(-2.3);
      border-width: g(2.3);
    }
  }
}


/**
 * Side-by-side buttons.
 */
.form-submit + .form-submit,
.btn + .btn {
  margin-left: g();
}
